<body>
    <div class="container">

        <div class="row">
            <div class="col s12 center-align ">
                <h2 class=" ">EAT-DA-BURGEEER!1!11</h2>
                <img src="/images/b1.png" alt=" burgerpic">


            </div>
        </div>
        <div class="row">
            <div class="col s6 center-align colNotEaten">
                <ul>
                    {{!-- not eaten, where devoured is false  --}}
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoure=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>



            <div class="col s6 center-align colEaten ">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoure=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>



        <div class="row">
            <div class=" col s12 center-align ">
                <div class="row">

                    <form class="create-form">
                        <div class="form-group">
                            <label for="bg">What burger would you like to eat?</label>
                            <input type="text" id="bg" name="name">
                            <button class="waves-effect red accent-4 waves-light btn "><i
                                    class=" fas fa-hamburger material-icons right"></i>Make
                                it!</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</body>